*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: sans-serif;
}

/* header */
header{
    background-color: #ADD8E6;
    padding: 17px;
}

.container{
    display: flex;
    justify-content: center;

    max-width: 1190px;

    margin-left: auto;
    margin-right: auto;
    background-color: #DAA520;
}

.container > div{
    padding: 5px;
    border: 2px dashed black;
    width: 150px;
}

#links{
    flex-grow: 1;
    text-align: center;
}

#links a{
    padding: 5px;
    text-decoration: none;
}

#links a:hover{
    text-decoration: underline;
}

header div > div:last-child{
    text-align: end;
}
/* end of header */


.banner-outer{
    background-color: #00008B;
    padding: 50px;

}

.banner-inner{
    margin: auto;
    width: 900px;
    padding-bottom: 400px;

    background-color: #EE82EE;
    border: 2px dashed black;
}


main > section{
    padding: 50px;
}

.white{
    background-color: white;
}

.gray{
    background-color: #D3D3D3;
}


/* section with main block on the left */
.style-1{
    display: flex;
    justify-content: center;

    margin: auto;
    max-width: 1190px;    
}
/* end section with main block on the left */


.blue{
    width: 715px;
    padding-bottom: 500px;

    background-color: #1E90FF;
    border: 2px dashed black;
}

.pink{
    flex-grow: 1;

    background-color: #FFC0CB;
    border: 2px dashed black;
}

/* section with main block on the right */
.style-2{
    display: flex;
    justify-content: center;

    margin: auto;
    max-width: 1190px;

    flex-direction: row-reverse;
}
/* end section with main block on the right */

.green{
    max-width: 1190px;
    padding-bottom: 890px;

    margin: auto;
    background-color: #228B22;
}

footer{
    background-color: #23272A;
}

/* footer section with cards */
.foot-row{
    display: flex;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 40px;

    max-width: 1190px;
}

.foot-prime{
    width: 355px;
    padding-bottom: 575px;

    background-color: #F08080;
    border: 2px dashed black;
}

.foot-second{
    flex-grow: 1;

    background-color: #20B2AA;
    border: 2px dashed white;
}
/* end footer section with cards */

/* bottom of footer */
.foot-end{
    width: 1190px;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    background-color: #7FFFD4;
}

.foot-logo{
    padding: 5px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}
/* end bottom of footer */